a {
  text-decoration: none;
}
.top-header{
  box-shadow: 0 2px 5px 0 #00000026, 0 2px 10px 0 #0000001f;
  height: var(--header-height);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.top-header .brand-logo{
  max-height: calc(var(--header-height) - 5px);
}

.home-list{
  display: block;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 #00000026, 0 2px 10px 0 #0000001f;
  box-sizing: border-box;
  padding: 10px;
  max-width: 550px;
  margin: 0px auto 22px auto;
  border-radius: 3px;
  color: var(--theme-color);
  font-size: 15px;
}

main{
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--header-height) + 10px);
}